/* 主页面翻转CSS3 */
/* 顺时针 */
.rotateR {
  animation: rotateR 1s both;
  -webkit-animation: rotateR 1s both;;
}
/* 逆时针 */
.rotateL {
  animation: rotateR 1s both;
  -webkit-animation: rotateR 1s both;;
}
@-webkit-keyframes rotateL {
  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 0;
  }
}
@-o-keyframes rotateL {
  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 0;
  }
}
@-moz-keyframes rotateL {
  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 0;
  }
}


@keyframes rotateL {
  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 0;
  }
}



@-webkit-keyframes rotateR {
  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }
}
@-o-keyframes rotateR {
  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }
}
@-moz-keyframes rotateR {
  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }
}

@keyframes rotateR {
  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }
}