/* 顺时针 */
.rotateR {
  animation: rotateR 1s both;
  -webkit-animation: rotateR 1s both;;
}
/* 逆时针 */
.rotateL {
  animation: rotateR 1s both;
  -webkit-animation: rotateR 1s both;;
}
@-webkit-keyframes rotateL {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateL {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}


@-webkit-keyframes rotateR {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }
  50%{
    -webkit-transform: translateZ(-50px);
    transform: translateZ(-50px);
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translateZ(-50px);
    transform:translateZ(-50px);
    opacity: 1;
  }
}

@keyframes rotateR {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }
  50%{
    -webkit-transform: translateZ(-50px);
    transform: translateZ(-50px);
  }
  100% {
    -webkit-transform-origin: center ;
    transform-origin: center;
    -webkit-transform: translateZ(-50px);
    transform:translateZ(-50px);
    opacity: 1;
  }
}